/* Modifica el fondo del modal */
.modal_default_content {
    background-color: #333; /* Cambia el fondo del modal a un color oscuro */
    color: #fff; /* Cambia el color del texto dentro del modal */
    border-radius: 8px; /* Redondea las esquinas del modal */
  }
.modal_default_input input {
    background-color: #333; /* Cambia el fondo del modal a un color oscuro */

}